$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

.app {
  padding: 0 150px;

  button:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: $xl) {
  .app {
    padding: 0 70px;
    margin: 0;
  }
}

@media screen and (max-width: $lg) {
  .app {
    padding: 0 50px;
  }
}

@media screen and (max-width: $sm) {
  .app {
    padding: 0;
    margin: 0;
  }
}
